*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Template using grid */

body {
    min-height: 100vh;
    background-color: black;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "navbar navbar"
    "sidebar main"
    "footer footer";
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header and Navigation Bar */

header{
    top: 0;
    position: sticky;
    grid-area: navbar;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
}

li, a, button{
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: grey;
}

.logo img {
    width: 60px;
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: orange;
}

/* Sidebar */

aside{
    height: calc(100vh-124.06px);
    top: 124.06px;
    position: sticky;
    align-self: start;
    grid-area: sidebar;
    background-color: rgb(249, 243, 243);
    padding: 20px 1em;
    margin-left: 10px;
    border-radius: 10px;
}

.side ul {
    list-style: none;
}


.side ul li.active a{
    color: orange;
}

.side a{
    border-radius: .5em;
    padding: .85em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.side a:hover{
    background-color: rgb(255, 255, 255);
}

.side img{
    width: 20px;
    flex-shrink: 0;
}